body{
  background: #4b6cb7;
  background: -webkit-linear-gradient(to right, #4b6cb7, #182848);
  background: linear-gradient(to right, #4b6cb7, #182848);
  font-family: 'Rubik', sans-serif !important;  
}

.truncate {overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  width: 250px
  
}

.App{
  text-align: center
}

.Cards div div div:hover{
  opacity: 0.7
}

.Cards .row div:hover {
  cursor: pointer;
}

.Cards .Content{
  width: 280px;
  height: 280px;
  background-color: #ccc;
  background-size: cover;
  margin-bottom: 20px
  
}

@media only screen and (max-width : 480px) {
  .Cards .Content{
    width: 100% ! important;
  }
}

.Search{
  color: #fff !important;
  margin: 30px 0px;
  border: 1px solid #fff;
  padding: 20px 0px;
  border-radius: 5px;
}


@media only screen and (max-width : 480px) {
  .Search{
    padding: 20px 10px;
  }
}

.Search .form-inline .form-group{
  margin-left: 20px;
  text-align: center !important
}

@media only screen and (max-width : 480px) {
  .Search .form-inline .form-group{
    margin-left: 0px;
  }
}

.Search .form-inline .form-group label{
  margin-right: 10px;
}

.Search .form-inline .form-group input{
  margin-right: 5px;
  top: -1px;
}

.Search button {
  margin-left: 20px;
}

.CardDetails {
  color: #fff;
  text-align: left;
  margin-bottom: 30px
}

.CardDetails h4 span{
  font-style: italic;
}

.CardDetails h4{
  margin-bottom: 5px;
  color: #BBB
}

.CardDetails div{
  background-color: #2c2f34;
  padding: 10px;
}

.CardDetails img{
  width: 100%
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@media only screen and (max-width : 480px) {
  .loader{
    margin-left: 147px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}